body {
    @media (min-width:768px) {
        background-color: lightblue;
    }
}

.App {
    padding: 15px;

    @media (min-width:768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

form {
    background-color: #fff;
    padding: 10px;

    @media (min-width:768px) {
        min-width: 500px;
        min-height: 230px;
    }
}

.form_head {
    text-align: center;
}
h4{
   margin: 0px;
   padding-right:5px;
}
.d-flex{
    display: flex;
    align-items: center;
}